.categories {
    width: 100%;
    min-height: 100vh;
    padding: 4rem 3rem;
    // background-color: var(--bg);

    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .search { 
            padding: 1rem;
            font-size: 1.5rem;

            &:hover {
                border-color: var(--black);
            }

            &:focus {
                border-color: var(--black);
            }
        }

        .title {
            font-size: 2rem;
            margin-top: 2rem;
        }

        .wrap{
            width: 100%;
            margin-top: 1rem;
            overflow-x: scroll;

            .link {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 1rem;

            }
        }

        .cards{
            width: 100%;
            margin-top: 3rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 3rem;
        }
    }
}

@media (max-width: 1024px) {
    .categories {
        .container {
            .cards{
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

@media (max-width: 480px) {
    .categories {
        padding: 3rem 3.3%;
        
        .container {
            .cards{
                grid-template-columns: 1fr;
            }
        }
    }
}